.nulTable {
  border: 1px solid #bebfb9;
  display: table;
}

.nulTableRow {
  display: table-row;
}

.nulTableCell,
.nulTableRow h3,
.nulTableRow div {
  display: table-cell;
  padding-right: 10px;
  padding-left: 10px;
}

.nulTable .nulTableRow .form-item label {
  display: none;
}

.nulTableRow:nth-child(odd) {
  background-color: #F3F4EE;
}

.nulTableRow:nth-child(even) {
  background-color: white;
}

.group-boardcomptableheader.nulTableRow,
.nulTableRow.nulTableHeader {
  background-color: #E1E2DC;
}

.group-boardcomptableheader .nulTableCell,
.nulTableRow.nulTableHeader .nulTableCell {
  padding-top: 10px;
  padding-bottom: 10px;
}
