.nulTable {
  border: 1px solid #bebfb9;
  display: table;
  width: 100%;
  min-width: 600px;
}

.nulTableRow,
.nulTable div.field-group-div {
  display: table-row;
}

.nulTableCell,
.nulTable .field-group-div h3,
.nulTable .field-group-div div,
.nulTableRow h3,
.nulTableRow div {
  display: table-cell;
  padding-right: 5px;
}

.nulTable .nulTableRow .form-item label,
.nulTable .field-group-div .form-item label {
  display: none;
}

.nulTable .field-group-div:nth-child(odd),
.nulTableRow:nth-child(odd) {
  background-color: #F3F4EE;
}

.nulTable .field-group-div:nth-child(even),
.nulTableRow:nth-child(even) {
  background-color: white;
}

.group-boardcomptableheader.nulTableRow,
.nulTableRow.nulTableHeader,
.nulTable .field-group-div.nulTableHeader {
  background-color: #E1E2DC;
}

.nulTable .field-group-div.nulTableHeader h3,
.group-boardcomptableheader .nulTableCell,
.nulTableRow.nulTableHeader .nulTableCell {
  padding-top: 10px;
  padding-bottom: 10px;
}

.group-contact .nulTable {
 width: 800px;
 margin-bottom: 20px;
}

.nulTable h3 {
  padding: 5px;
}

#edit-field-indirect-contact-served {
padding: 5px;
}

.nulTable > h3:first-child {
  display: table-caption;
  border: 1px solid #bebfb9;
  background-color: #bebfb9;
  font-weight: bold;
}

/*hide form elements*/
.hide {
  display: none;
}

/* styling add program button */
div.censusPrograms a.button {
  background-color: #ddd;
  text-decoration: none;
  border: solid #bbb 1px;
  color: black;
  padding: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-left: 10px;
  display: block;
  width: 135px;
}

div.censusPrograms a.button:hover {
  text-decoration: none;
  background-color: #bebfb9;
}

/*making funding sources paragraphs less wide*/
.group-funding-row.nulTableRow .form-select {
  width: 150px;
}

/* AGH #11487 when on a census or tab node in edit mode hide preview button */
#edit-preview {
  display: none;
}


/* AGH #11498 Styling tables in NUL theme*/
.nulTable .field-type-list-boolean {
  margin-left: 5px;
}

div.nulTable {
  margin-bottom: 10px;
}

div.nulTable .field-type-markup {
  margin-left: 10px;
  margin-top: 10px;
}

div.nulTable .field-type-markup p {
  margin-bottom: 10px;
}

div.nulTable div.field-type-number-integer {
  margin-left: 10px;
}

/*Styling Census Tab Menu */
#block-views-census-tab-menu-block .tab,
#block-views-census-tab-menu-block-1 .tab {
 padding: 10px;
 border-bottom: .5px solid #bebfb9;
}

/*probably dont need on live site*/
body #sidebar-first .block {
  padding: 0px;
}

#block-views-census-tab-menu-block a,
#block-views-census-tab-menu-block-1 a {
  color: black;
  text-decoration: none;
}

#block-views-census-tab-menu-block .tab:hover,
#block-views-census-tab-menu-block a:hover,
#block-views-census-tab-menu-block-1 .tab:hover,
#block-views-census-tab-menu-block-1 a:hover {
  background-color: #bebfb9;
  color: #C51230;
}

#block-views-census-tab-menu-block a .tabType,
#block-views-census-tab-menu-block-1 a .tabType,
.parentCensusLink {
  font-weight: bold;
}

#block-views-census-tab-menu-block a:hover,
#block-views-census-tab-menu-block-1 a:hover {
  text-decoration: none;
}

#block-views-census-tab-menu-block p,
#block-views-census-tab-menu-block-1 p {
  display: none;
}

/* Styling Full Census*/
div.view-full-census div.content .field-label-inline div.field-label {
  width: 30%;
  clear: both;
}

div.view-full-census .field .field-label,
div.view-full-parent-census .field .field-label {
  padding: 5px;
  width: 30%;
}

div.view-full-census .field-items,
div.view-full-parent-census .field-items {
  padding: 5px;
  width: 60%;
}
div.view-full-census .field-label-inline .field-items {
  width: 60%;
  float: left;
  padding: 5px;
}
div.view-full-census div.content .field div.field-item.even {
  border: none;
}
