div.nulTable h3 {
  /* border-right: solid 1px black; */
  width: 170px;
}

body {
  font-size: 12px;
}

div.content div.field {
  padding-top: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-bottom: 10px;
  /* border-bottom: solid 1px grey; */
}
div.content div.field-label {
  font-weight: bold;
  display: inline-block;
  width: 300px;
}

div.content div.field-items {
  display: inline-block;
}

div h2 a,
div.view-empty h2,
#crm-container article h1.article-title a {
  text-decoration: none;
  color: #708340;
}

div.contextual-links-wrapper,
div.censusPrograms a.button.nulCensusButton,
div.field.field-name-field-parent-census,
ul.links.inline,
p.author-datetime,
span.submitted {
  display: none;
}

div.nulTable {
  display: block;
  width: 700px;
  border: solid 1px black;
  /* page-break-after: always; */
}
div.nulTableHeader,
div.group-boardcomptableheader.field-group-div.nulTableRow {
  display: block;
  width: 700px;
  /* background-color: #bebfb9; */
}

div.nulTableRow {
  border-top: solid 1px black;
}


div.content div.paragraphs-items div.field-label {
  display: none;
}

div.nulTable div.field,
div.nulTable h3 {
  display: inline-block;
  width: 150px;
  margin: 5px;
  border-bottom: none;
}

div.view.view-full-content-type {
  page-break-after: always;
}

/* #paragraphs_item_service_area_full_group_sa_group h3 span:first-of-type {
display: none;
} */
